@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@import './token.scss';
@import './elements.scss';

body {
    display: flex;
    flex-direction: column;
    font-family: $text-default-font-family;
    font-size: $text-default-font-size;
    height: 100%;
}

main {
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

.pricing {
    padding: 0 20px;
    background-color: rgb(247, 247, 255);
}

.pricing-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__header {
        margin-bottom: 40px;
    }

    &__title {
        color: $color-neutral;
        font-size: $text-default-font-size-title;
    }

    &__period {
        display: flex;
        flex-direction: row;
        padding-left: 0px;
    }

    &__period-item {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 12px;
        color: $color-neutral-light;
    }
}

@mixin plan-title($color-text) {
    color: $color-text;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__card {
        background-color: $color-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        &--middle {
            background-color: $color-primary;
        }
    }
    &__card-basic, &__card-master {
        @include plan-title($color-neutral);
    }
    &__card-profesional {
        @include plan-title($color-white);
    }
    
    &__card-amount {
        color: $color-neutral-dark;
        font-size: $text-default-font-size-amount;
        margin: 0;
        
        &--middle {
            color: $color-white;
        }
    }
    &__card-details {
        padding-left: 0px;
    }
    &__card-details-item {
        color: $color-neutral-dark;
        font-size: 12px;
        padding-left: 0px;

        &--middle {
            color: $color-white;
        }
    }
    &__card-details-button {
        font-family: $text-default-font-family;
        height: 40px;
        border: none;
        color: $color-white;
        background-color: $color-primary;

        &--middle {
            color: $color-primary;
            background-color: $color-white;
        }
        /*border: 2px solid $color-primary;*/
    }
}

@media screen and (min-width: $sm-device) {
    .plan {
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        &__card {
            background-color: $color-white;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
    
            &--middle {
                background-color: $color-primary;
            }
        }   
    }
}
