$xm-device: 375px;
$sm-device: 768px;
$md-device: 1024px;
$lg-device: 1366px;

$text-default-font-family: 'Montserrat', sans-serif;
$text-default-font-size: 15px;
$text-default-font-size-title: 26px;
$text-default-font-size-amount: 43px;

$color-primary: hsl(236, 72%, 79%);
//$color-primary: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);
$color-neutral-very-light: hsl(240, 78%, 98%);
$color-neutral-light: hsl(234, 14%, 74%);
$color-neutral: hsl(233, 13%, 49%);
$color-neutral-dark: hsl(232, 13%, 33%);
$color-white: white;
